<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<h2>Orders:</h2>
<table border="1">
    <tr>
        <th>Ordered pizza</th>
        <th>Amount</th>
        <th>Customer</th>
    </tr>
    <tr th:each="order: ${allOrderedPizza}">
        <td th:text="${order.orderName}"></td>
        <td th:text="${order.amount}"></td>
        <td th:text="${order.orderCreatedBy}"></td>
        <td th:text="${}"></td>
    </tr>
</table>
<form action="/mainMenu" method="get">
    <input type="submit" value="return to main menu">
</form>
</body>
</html>