<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose pizza</title>
</head>
<body>
<form action="#" th:action="@{/orderPizza}" th:object="${pizzaOrderConfirm}" method="post">
    Pizza name: <input type="text" value="Pizza name" th:field="*{orderName}">
    Amount: <input type="text" value="Amount of order" th:field="*{amount}">
    <input type="submit" value="Confirm order">
</form>
<form action="/mainMenu" method="get">
    <input type="submit" value="return to main menu">
</form>
</body>
</html>