<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main menu</title>
</head>
<body>
<form action="/pizza">
    <input type="submit" value="Add pizza">
</form>
<form action="/order">
    <input type="submit" value="Submit your order">
</form>
<form action="/allOrdersToDisplay">
    <input type="submit" value="Order summary">
</form>
<form action="/orderPizza">
    <input type="submit" value="Type your choice">
</form>
<form action="/deleteDoneOrder">
    <input type="submit" value="Make order done">
</form>
<form action="/createRecord">
    <input type="submit" value="Statistics">
</form>
</body>
</html>