<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order confirmation</title>
</head>
<body>
<h2>Your order: </h2>
<p th:text="'Amount: ' + ${pizzaOrderConfirm.amount}"/>
<p th:text="'Pizza name: ' + ${pizzaOrderConfirm.orderName}"/>
<form action="/orderPizza" method="get">
    <input type="submit" value="Add another pizza">
</form>
<form action="/order" method="get">
    <input type="submit" value="Pizza menu">
</form>
<form action="/allOrders" method="get">
    <input type="submit" value="See all your orders">
</form>

</body>
</html>