<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add your pizza</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Fill up credentials</h1>
<form action="#" th:action="@{/pizza}" th:object="${pizza}" method="post">
    <p>Created by: <input type="text" th:field="*{createdBy}" /></p>
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Price: <input type="text" th:field="*{price}" /></p>
    <p>Diameter: <input type="text" th:field="*{diameter}" /></p>
    <input type="submit" value="ADD NEW PIZZA">
</form>
</body>
</html>