<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Pizza name</th>
        <th>Total orders</th>
        <th>Orders in month</th>
    </tr>
    <tr th:each="stat: ${statList}">
        <td th:text="${stat.pizza.name}"></td>
        <td th:text="${stat.totalNumberOfOrders}"></td>
        <td th:text="${stat.ordersInMonth}"></td>
    </tr>
</table>
</body>
</html>