<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <style>
        h1 {
            text-align: center;
            color: cornflowerblue;
        }
        h2 {
            text-align: center;
            color: darkblue;
        }
        #formButton:hover {
            background-color: coral;
        }
    </style>
</head>
<body>
<h1>Welcome on main page</h1>
<h2>It's a pizza backend app</h2>
<div style="text-align: center">
    <form action="/mainMenu">
        <input type="submit" value="Go to main menu" id="formButton">
    </form>
</div>
</body>
</html>